test


<div *ngIf="currentPost">
    <h2>

        {{currentPost.title}}
    </h2>
    <small>Written by: {{currentPost.username}}</small>

    <form (submit)="onSavePressed()">
        <div class="form-group" id="org-content-div">
            <label for="content">Content</label>
            <textarea [disabled]="true" style="resize: none;" [(ngModel)]="content" name="content" class="form-control" id="content" cols="50" rows="10">{{currentPost.content}}</textarea>
        </div>
        <!--<div class="form-group" id="newDiv">
            <label style="visibility: hidden;" for="content2">Content</label>
            <textarea style="visibility: hidden;" [(ngModel)]="content2" style="resize: none;" name="content2" class="form-control" id="content2" cols="50" rows="10" value=""></textarea>
        </div>-->
        <div class="form-group">
            <label style="visibility: hidden;" for="private"><input type="checkbox" [(ngModel)]="private" aria-describedby="privateText" name="private" id="private" value="false"><span id="spantext">Private</span></label>
            <small style="visibility: hidden;" id="privateText" class="form-text text-muted">Check this is you want your post to be private so only you can see it</small>
        </div>

        <div class="form-group">
            <button style="visibility: hidden;" id="submit" type="submit" class="btn btn-primary">Save</button>
        </div>

    </form>
    <div>
        <button id="edit-btn" class="btn btn-primary" style="visibility: hidden;" (click)="onEditPressed()">Edit</button>
    </div>
    <button id="remove-btn" class="btn btn-primary" style="visibility: hidden;float: right;" (click)="onRemovePressed()">Remove</button>
</div>