li {
    cursor: pointer;
    background-color: rgb(78, 74, 74);
    margin: .5em;
    border-radius: 15px;
    padding-left: 0.5cm;
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
}

.search {
    background-color: rgb(78, 74, 74);
    padding-left: 0.3cm;
    padding-right: 0.3cm;
    padding-bottom: 0.3cm;
    padding-top: 0.3cm;
    border-radius: 15px;
}

label {
    color: rgb(139, 130, 130);
    padding-left: 0.2cm;
    padding-top: 0.2cm;
}

li:hover {
    color: rgb(29, 29, 32);
    background-color: #707070;
    left: .1em;
}

.posts {
    background-color: rgb(53, 50, 50);
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-bottom: 0.5cm;
    padding-top: 0.3cm;
    border-radius: 15px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

#title {
    font-size: 30px;
}

.span {
    color: rgb(209, 207, 207);
}

.span2 {
    color: rgb(139, 130, 130);
}

.p {
    color: rgb(139, 130, 130);
    size: 10px;
}

h2 {
    color: rgb(209, 207, 207);
}

h3 {
    color: rgb(209, 207, 207);
    text-align: left;
}