<div class="jumbotron text-center">
    <h1>MEAN App</h1>
    <p class="lead">Mean App home page html </p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>This is Express.js Backend</h3>
        <p>Node.js/Express server using Mongoose to organize models and to query the database</p>
    </div>
    <div class="col-md-4">
        <h3>Angular-CLI</h3>
        <p>Angular-CLI is used to generate components, services and lots more thing. It is a local dev server</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Tokens</h3>
        <p>Full featured authentication using JSON web tokens. Used in login and storing user user data</p>
    </div>
</div>